appsettings.json


# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# User secrets
secrets.json

# Environment variables
.env
